.blog-post-card2-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card2-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card2-image {
  width: 350px;
  height: 350px;
  box-shadow: 5px 5px 10px 0px #1b1b1b,5px 5px 10px 0px #1d1d1d;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 20px;
}
.blog-post-card2-container {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.blog-post-card2-container1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card2-text {
  color: #ffffff;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card2-text1 {
  color: #ffffff;
  font-size: 1.25rem;
  font-family: "Victor Mono";
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: capitalize;
}
.blog-post-card2-container2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}



@media(max-width: 991px) {
  .blog-post-card2-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .blog-post-card2-blog-post-card {
    flex-direction: column;
  }
  .blog-post-card2-image {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .blog-post-card2-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
